<div class="row">
  <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 login">
    <%= form_for user, url: signin_path do |f| %>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 errors">
          <% if f.object.errors.full_messages.any?
               f.object.errors.full_messages.each do |error| %>
              <%= error %>
            <% end %>
          <% else %>
            &nbsp;
          <% end %>
        </div>
        <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 login-row">
          <div class="label">
            <%= f.label :email %>
          </div>
          <div class="field">
            <%= f.email_field :email %>
          </div>
        </div>
        <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 login-row">
          <div class="label">
            <%= f.label :password %>
          </div>
          <div class="field">
            <%= f.password_field :password %>
          </div>
        </div>
        <div class="col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 login-row">
          <%= f.submit 'Login', class: 'btn btn-default button' %>
        </div>
        <div class="col-xs-4 col-xs-offset-2 col-sm-4 col-sm-offset-2 col-md-4 col-md-offset-2 login-row">
        <p>Not a member?</p>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 login-row">
          <%= link_to 'Join', new_user_path, class: 'btn btn-default button' %>
        </div>
    <% end %>
    </div>
  </div>
</div>
