<div class="container-fluid">

  <%= render partial: 'dashboard/new_task', locals: {task: @dashboard.new_task} %>
  <div class="row">
    <div class="col-md-4 tasks">
      <h3>Overdue</h3>
      <% if @dashboard.tasks(:overdue).any? %>
        <table>
          <tr>
            <th>Task</th>
            <th>Days Overdue</th>
          </tr>
          <tbody>
          <% @dashboard.tasks(:overdue).each do |overdue_task| %>
            <tr>
              <td>
                <%= overdue_task.details %>
              </td>
              <td class="late">
                <%= formatted_days(overdue_task.days_overdue) %>
                <span class="urgent">late</span>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% else %>
        <div class="no-tasks">
          No <br>Overdue<br>Tasks
        </div>
      <% end %>
    </div>

    <div class="col-md-4 tasks">
      <h3>Current</h3>
      <% if @dashboard.tasks(:current).any? %>
        <table>
          <tr>
            <th>Task</th>
            <th>Due</th>
            <th>&nbsp;</th>
          </tr>
          <tbody>
          <% @dashboard.tasks(:current).each do |task| %>
            <tr id="completed-<%= task.id %>">
              <td>
                <%= task.details %>
              </td>
              <td>
                <%= formatted_date(task.due_date) %>
              </td>
              <td>
                <%= button_to 'Complete', complete_task_path(task.id), class: 'btn btn-default button' %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% else %>
        <div class="no-tasks">
          No <br>Current<br>Tasks
        </div>
      <% end %>
    </div>

    <div class="col-md-4 tasks">
      <h3>Completed</h3>
      <% if @dashboard.tasks(:complete).any? %>
        <table>
          <tr>
            <th>Task</th>
            <th>Completed</th>
            <th>Early?</th>
            <th>&nbsp;</th>
          </tr>
          <tbody>
          <% @dashboard.tasks(:complete).each do |completed_task| %>
            <tr>
              <td>
                <%= completed_task.details %>
              </td>
              <td>
                <%= formatted_date(completed_task.completed_on) %>
              </td>
              <td>
                <% if completed_task.completed_early? %>
                  <%= formatted_days(completed_task.days_completed_early) %>
                <% else %>
                  No
                <% end %>
              </td>
              <td>
                <%= button_to 'ReOpen', reopen_path(completed_task.id), class: 'btn btn-default button' %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% else %>
        <div class="no-tasks">
          No <br>Completed<br>Tasks
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= content_for :nav_button do %>
  <%= link_to "Hi, #{current_user.name}!", '#', id: 'nav-button' %></li>
  <li>
    <%= link_to 'Logout', signout_path, id: 'nav-button' %>
<% end %>