<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 login">
    <%= form_for @user do |f| %>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 errors">
          <% if f.object.errors.full_messages.any? %>
            <%= f.object.errors.full_messages.first %>
          <% else %>
            &nbsp;
          <% end %>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 login-row">
          <div class="label">
            <%= f.label :name %>
          </div>
          <div class="field">
            <%= f.text_field :name %>
          </div>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 login-row">
          <div class="label">
            <%= f.label :email %>
          </div>
          <div class="field">
            <%= f.email_field :email %>
          </div>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 login-row">
          <div class="label">
            <%= f.label :password %>
          </div>
          <div class="field">
            <%= f.password_field :password %>
          </div>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 login-row">
          <div class="label">
            <%= f.label :confirm_pw %>
          </div>
          <div class="field">
            <%= f.password_field :password_confirmation %>
          </div>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 login-row">
          <%= f.submit 'Join', class: 'btn btn-default button' %>
        </div>
    <% end %>
    </div>
  </div>
</div>