<!DOCTYPE html>
<html>
<head>
  <title>TodoIp</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="layer">
  <%= render partial: 'partials/navbar' %>
  <% if flash[:notice] %>
    <div class="flash"><%= flash[:notice] %></div>
  <% end %>
  <%= yield %>
</div>
</body>
</html>
